
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

html {
  background: white;
  font-size: 1rem;
}

body {
  font-family: 'Open Sans', sans-serif;
  display: block;
  background: white;
  margin: 0 auto;
  padding-top: 80px;
  line-height: 1.45;
}

h1, h2, h3, h4 {
  margin-top: 0;
}

h1 {
  color: #db5051;
  font-size: 2.441rem;
  
  font-weight: 700;
}

h2 {
  font-size: 1.953rem;
  color: #75649b;
  
}

h4 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1.563rem;
  color: #3d3c46;
  text-transform: uppercase;
}

p {
  font-size: 1rem;
  margin-bottom: 1.3rem;
  color: #666666;
}

a {
  color: #db5051;
  font-weight: bold;
  text-decoration: none;
}

footer {
  text-align: center;
}

@media only screen and (min-device-width: 75em))  {
   .menu {
      font-size: 1em;
    }
  }
  .menu {
    padding: 0.5em;
    min-height: 3em;
    line-height: 0.8em;
    -webkit-transition: .13s all;
    transition: .13s all;
    margin: 0 auto;
  }

  .menu {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
  }

  .menu a {
    -webkit-transition: .3s all;
    transition: .3s all;
    color: #666;
    text-decoration: none;
  }

  .menu a:hover {
    color: tomato;
  }
  .menu > ul {
    transition: max-height 0.25s linear;
  }
  .menu ul {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .menu li {
    transition: visibility .25s linear;
    display: inline-block;
    border: 1px solid;
    padding: .45em 1.1em;
    margin: 0 .3em;
    position: relative;
  }

  @media (min-width: 54.25em) {
    .menu li ul {
      display: none;
      position: absolute;
      top: 100%;
      margin-top: 1px;
      left: -1px;
      right: -1px;
    }
    .menu li:hover ul {
      display: block;
    }
    .menu li li {
      margin: -1px 0 0 0;
      box-sizing: border-box;
      width: 100%;
    }
  }
  @media (max-width: 54.166666667em) {
    .menu > ul {
      max-height: 0;
      overflow: hidden;
      margin: 0 3.5em 0 1em;
    }
    .menu li {
      visibility: hidden;
      display: block;
      padding: 0.5em 0.6em;
      border: none;
    }
    .menu li ul {
      margin-top: 0.5em;
      border-left: 1px solid #000;
    }
    .menu .navbar-handle {
      display: block;
    }
    #navbar-checkbox:checked + .menu ul {
      max-height: 300px;
    }
    #navbar-checkbox:checked + .menu li {
      visibility: visible;
    }
    #navbar-checkbox:checked + .menu .navbar-handle,
    #navbar-checkbox:checked + .menu .navbar-handle:after,
    #navbar-checkbox:checked + .menu .navbar-handle:before {
      border-color: #aaa;
    }
  }

  .navbar-checkbox {
    display: none;
  }
  .navbar-handle {
    display: none;
    cursor: pointer;
    position: relative;
    font-size: 45px;
    padding: .5em 0;
    height: 0;
    width: 1.66666667em;
    border-top: 0.13333333em solid;
  }
  .navbar-handle:before,
  .navbar-handle:after {
    position: absolute;
    left: 0;
    right: 0;
    content: ' ';
    border-top: 0.13333333em solid;
  }
  .navbar-handle:before {
    top: 0.37777778em;
  }
  .navbar-handle:after {
    top: 0.88888889em;
  }

  .menu .navbar-handle {
    position: absolute;
    font-size: 1.2em;
    top: 0.7em;
    right: 12px;
    z-index: 10;
  }

.col-1 {
  width: calc(8.33333%*1);
}

.col-2 {
  width: calc(8.33333%*2);
}

.col-3 {
  width: calc(8.33333%*3);
}

.col-4 {
  width: calc(8.33333%*4);
}

.col-5 {
  width: calc(8.33333%*5);
}

.col-6 {
  width: calc(8.33333%*6);
}

.col-7 {
  width: calc(8.33333%*7);
}

.col-8 {
  width: calc(8.33333%*8);
}

.col-9 {
  width: calc(8.33333%*9);
}

.col-10 {
  width: calc(8.33333%*10);
}

.col-11 {
  width: calc(8.33333%*11);
}

.col-12 {
  width: calc(8.33333%*12);
}
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.row [class*="col-"] {
  box-sizing: border-box;
  margin: 0 0;
  padding: 1em;
}

header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  border-bottom: solid 1px #edebe6;
  z-index: 99;
  background: white;
  padding: 0 2rem;
}

/* = Borders */
.border {
  border: solid 1px #edebe6;
}

.border-left {
  border-left: solid 1px #edebe6;
}

.border-right {
  border-right: solid 1px #edebe6;
}

.border-top {
  border-top: solid 1px #edebe6;
}

.border-bottom {
  border-bottom: solid 1px #edebe6;
}


.sidebar {
  font-size: 85%;
}
.sidebar > article {
  border-bottom: solid 1px #edebe6;
  padding: 1em;
}
.sidebar > article:last-of-type {
  border: none;
}



@media only screen and (min-width: 901px) and (max-width: 1024px) {
  body {
    width: 900px;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1280px) {
  body {
    width: 100%;
  }
}

@media only screen and (max-width: 900px) {
  main [class*='col-'] {
    border: solid 1px #edebe6;
  }

  .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .row [class*='col'] {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 100%;
  }
  .row[class*='border'] {
    border: solid 1px #edebe6;
  }
}
